body
{
	background-color: lightgreen;
}
.sellerlogin
{
	background-color: lightgreen;
	position: relative;
	margin: 3cm;
	padding-left: 6cm;
	padding-right: 1cm;
	padding-top: 1cm;
	padding-bottom: 3cm;
	width: 15cm;
	left: 3cm;


}
h2
{
	position: relative;
	left: 4cm;
	font-size: 0.9cm;
}
input[type="submit"]
{
	position: relative;
	left: 2cm;
	width:8.1cm;
	font-weight: bolder;
	height: 0.7cm;
	top:0.5cm;
	background-color: silver;
}
input[type="text"],input[type="password"]
{
	position: relative;
	height:0.7cm;
	width: 8cm;
	font-weight: normal;
	background-color: silver;
}
table,td
{
	line-height: 1cm;
	font-weight: bold;

}